[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = ?????????????????????????????
[access "refs/*"]
	owner = group user/jewdore (jewdore)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/jewdore (jewdore)
	label-Verified = -1..+1 group user/jewdore (jewdore)
	push = group user/jewdore (jewdore)
	read = group user/jewdore (jewdore)
	rebase = group user/jewdore (jewdore)
	removeReviewer = group user/jewdore (jewdore)
	submit = group user/jewdore (jewdore)
[access "refs/heads/*"]
	create = group user/jewdore (jewdore)
	push = +force group user/jewdore (jewdore)
	pushMerge = group user/jewdore (jewdore)
	read = group user/jewdore (jewdore)
[access "refs/tags/*"]
	push = group user/jewdore (jewdore)
	push = +force group user/jewdore (jewdore)
